@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

body {
  background-color: #111633;
  color: white;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

header {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.126);
  padding: 20px;
  justify-content: space-around;
  
}

footer {
  display: flex;
  padding: 20px;
  font-size: 12px;
  justify-content: space-between;
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.126);
  max-height: 200px;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #1976D2;
  border-radius: 20px;
}